.bg-bianco-puro {
    background-color: #FFFFFF;
}

.bg-grigio-neve {
    background-color: #F8F9FA;
}

.bg-beige-sabbia {
    background-color: #F6F1EB;
}

.bg-verde-menta-soft {
    background-color: #D5F5E3;
}

.bg-azzurro-polvere {
    background-color: #D6EAF8;
}

.bg-rosa-cipria {
    background-color: #FADBD8;
}

.bg-grigio-grafite {
    background-color: #2C3E50;
}

.bg-blu-fumo {
    background-color: #34495E;
}

.bg-verde-bosco-soft {
    background-color: #1E3D32;
}

.bg-malva-scuro {
    background-color: #5D6D7E;
}

.bg-nero-opaco {
    background-color: #1C1C1C;
}

.bg-rosa-antico {
    background-color: #A569BD;
}
